https://github.com/calliope-project/calliope/archive/refs/tags/v0.7.0.dev4.zip
fastapi
sqlalchemy
gunicorn
uvicorn
pydantic
passlib
bcrypt
numpy
pandas
autodoc-pydantic
python-multipart
python-jose
pyaml
psycopg2-binary
gurobipy
openpyxl
aas-core3.0